[project]
	description = !!!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vicctorb2
[access "refs/for/refs/*"]
	read = group user/vicctorb2
	push = group user/vicctorb2
	label-Code-Review = -2..+2 group user/vicctorb2
	label-Verified = -1..+1 group user/vicctorb2
	rebase = group user/vicctorb2
	removeReviewer = group user/vicctorb2
	submit = group user/vicctorb2
[access "refs/heads/*"]
	read = group user/vicctorb2
	create = group user/vicctorb2
	push = +force group user/vicctorb2
	pushMerge = group user/vicctorb2
[access "refs/tags/*"]
	push = +force group user/vicctorb2
	pushTag = group user/vicctorb2
	pushSignedTag = group user/vicctorb2
